.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
Hackathon.iml
app/src/main/AndroidManifest.xml 
.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

app/app.iml

app/app.iml

app/app.iml
